/* .pausable {
  animation-play-state: paused;
}

.pausable:hover {
  animation-play-state: running;
} */

.react-flow__controls button {
  background-color: var(--bg-color);
  color: #999;
  border: 1px solid #999;
  border-bottom: none;
}

.react-flow__controls button:hover {
  background-color: rgb(37, 37, 37);
}

.react-flow__controls button:first-child {
  border-radius: 5px 5px 0 0;
}

.react-flow__controls button:last-child {
  border-bottom: 1px solid #999;
  border-radius: 0 0 5px 5px;
}

.react-flow__controls button path {
  fill: #999;
}